	<!DOCTYPE html>
	<html>
	<head>
		<title>CSS layout</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link href="flex.css" rel="stylesheet" type="text/css"/>
		<link href="boxes.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<div id="layout">
		<nav id="menus">
			<div><a href="#m1">Menu 1</a></div>
	  		<div><a href="#m2">Menu 2</a></div>
	  		<div><a href="#m3">Menu 3</a></div>
	  		<div><a href="#m4">Menu 4</a></div>
		</nav>
		<div id="sidebar">
			<p>Sidebar</p>
		</div>
		<div id="main">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet risus feugiat in ante metus. Vel quam elementum pulvinar etiam. <span id="relative-text">Vestibulum lectus mauris </span>ultrices eros in cursus turpis massa. 
			<span id="absolute-text">Vulputate enim nulla</span> aliquet porttitor lacus luctus accumsan tortor. </p>

			<p>Condimentum vitae sapien pellentesque habitant morbi tristique senectus et netus. Nisl rhoncus mattis rhoncus urna neque viverra justo. Morbi tempus iaculis urna id volutpat lacus. Viverra justo nec ultrices dui sapien eget mi proin. Turpis massa tincidunt dui ut. Ultricies tristique nulla aliquet enim tortor. 
			</p>
			<p>Pharetra convallis posuere 
<span class="parola">
  morbi
  <span class="tooltip">
  Declinazione di morbus, morbi, morbi...</span>
</span>leo urna molestie at elementum. Adipiscing elit ut aliquam purus sit amet luctus venenatis. Et netus et malesuada fames ac turpis. Nibh sed pulvinar proin gravida. Facilisi morbi tempus iaculis urna id. Purus sit amet volutpat consequat mauris nunc congue nisi. Sem nulla pharetra diam sit amet nisl. Netus et malesuada fames ac turpis. Pharetra diam sit amet nisl suscipit adipiscing. Placerat vestibulum lectus mauris ultrices eros in cursus turpis massa.</p>

			<p>Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Urna molestie at elementum eu facilisis sed. Pellentesque elit eget gravida cum sociis. Nec feugiat nisl pretium fusce id velit ut. Aliquet eget sit amet tellus cras. Nunc sed velit dignissim sodales ut eu. Sed tempus urna et pharetra pharetra massa massa ultricies mi. Quis viverra nibh cras pulvinar. Massa vitae tortor condimentum lacinia quis. </p>

			<p>Massa massa ultricies mi quis hendrerit dolor. Vel quam elementum pulvinar etiam non quam. Lectus quam id leo in vitae turpis massa sed. Dis parturient montes nascetur ridiculus. Posuere morbi leo urna molestie. Rhoncus dolor purus non enim praesent. Vel facilisis volutpat est velit egestas dui id. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Fringilla urna porttitor rhoncus dolor purus. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi etiam.</p>
		</div>
		<footer id="disclaimer">
			<p>Footer</p>
		</footer>
	</div>
	</body>